# File Handling:
1. create
2. write
3. reading
4. appending
5. renaming

In [1]:
import os #rename() is an inbuilt function of OS module
os.rename('sample.txt','new_name.txt')

In [2]:
os.remove('New_name.txt')

###### Assignment-4[Q-5]:
1. Create a folder
2. Goto that folder
3. All the file names should be unique
4. Add some content into the file and the content in all the files should be unique.
5. File size should be 512bits.

In [13]:
import os
os.mkdir('01-06-2000')
for i in range(5): #for creating 5 files
    file_name=input("Enter the file name: ") #creating a file name
    f=open(file_name,'w') #creates a file with the given name
    for i in range(512):
        f.write("Character")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: '01-06-2000'

In [11]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [12]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
os.chdir(r'C:\Users\gopib\Desktop\Placements\Internship-Dhyanahita\AIandML\Python Jupyter\01-06-2000')

### Tuple:
1. Immutable
2. Using() elements are seperated by ,
3. Indexed,Ordered
5. Allows Heterogenous values

In [23]:
#tuple
tup1=(10,20,30.65,40,"50abc",60)
print(type(tup1))
print(tup1[3])
print(tup1[-2])

<class 'tuple'>
40
50abc

In [36]:
l=list(tup1)
l[2]=100
tup1=tuple(l)
print(l)
tup1

[10, 20, 100, 40, '50abc', 60]

(10, 20, 100, 40, '50abc', 60)

#### Built-In methods in Tuple:
1. count()
2. index()
3.

In [41]:
print(tup1.count(40))
print(tup1.index(100))

1
2

In [46]:
tup2=(11,12,13,14)
a,b,c,d=tup2 #unpacking
for i in a,b,c,d:
    print(i)
x= 10,20,30,40,50 #packing
print(type(x))
print(x)

11
12
13
14
<class 'tuple'>
(10, 20, 30, 40, 50)

### SETS:
1. {} are used to create a set.Elements are sep by ,
2. Doesn't allow duplicate values
3. Sets are unordered and hence are unindexed.

In [47]:
set1={1,2,3,4,5,4,3}
set1

{1, 2, 3, 4, 5}

##### Methods:
1. len()
2. min()
3. max()
4. set()

In [50]:
print(len(set1))
print(min(set1))
print(max(set1))

5
1
5

In [52]:
#to remove duplicates in a list:
list1=[10,20,30,40,50,40,10,20]
list1=set(list1)
list1

{10, 20, 30, 40, 50}

### Built-in Methods:
1. add()--> to add an element
###### to remove an element:

1. pop()

2. remove()

3. discard()

In [56]:
set2=set() #to create an empty set
print(type(set2))

<class 'set'>

In [65]:
set2.add(12);set2.add(13);set2.add(100);set2.add(12)
set2

{12, 13, 100}

In [66]:
set2.pop() #removes element an prints it
print(set2)

{13, 12}

In [67]:
set2.remove(12)
set2

{13}

In [68]:
set2.remove(12)

KeyError: 12

In [73]:
set2.discard(12)

In [74]:
set2.clear()

In [75]:
set2

set()

In [79]:
#union,difference,intersection,subset,super set,disjoint,etc.
A={1,2,3,4,5}
B={3,4,5,6,7}
#union A U B ==>{1,2,3,4,5,6,7}
print(A.union(B))
#difference (A-B or B-A)
# A-B ==>{1,2}
# B-A ==>{6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
#intersection A and B ==>{3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [81]:
#subset,super set,disjoint
#symmetric difference
C={1,2,3,4,5,6,7,8,9,10}
#subset
print(A.issubset(C)) #returns a BOOLEAN value
print(A.issubset(B))
#super set
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [82]:
#disjoint --> Having no common elements
x={1,2}
y={11,12,13}
print(A.isdisjoint(B))
print(x.isdisjoint(y))

False
True

In [83]:
#Symmetric Difference --> removes the common elements,i.e., union od A-B and B-A
print(A.symmetric_difference(B))

{1, 2, 6, 7}

In [85]:
#update() ---> to store A uninon B
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [86]:
#intersection_update ---> to store A intersection B
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [87]:
#difference_update() --> to store difference of A and B
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [88]:
#symmetric_difference_update() --> to store symmetric difference between A and B
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

# Dictionary:
1. 
2. Keys are Immutable

In [115]:
#creating a dictionary
dict1={"name":"gopi", "emp id":1234,"address":"hyd",(1,2,3,4):"tuple"} #here list cannot be used as mutable keys are forbidden
print(dict1)

{'name': 'gopi', 'emp id': 1234, 'address': 'hyd', (1, 2, 3, 4): 'tuple'}

In [116]:
#extracting an element
print(dict1["emp id"])

1234

In [117]:
#removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'gopi', 'emp id': 1234, (1, 2, 3, 4): 'tuple'}

In [118]:
#adding an entry to the dictionary
dict1["course"]='Python'
print(dict1)

{'name': 'gopi', 'emp id': 1234, (1, 2, 3, 4): 'tuple', 'course': 'Python'}

### Built-In Methods:
1. Keys()
2. items()
3. values()
4. get()
5. update()
6. pop()
7. popitem()

In [119]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', (1, 2, 3, 4), 'course'])
dict_values(['gopi', 1234, 'tuple', 'Python'])
dict_items([('name', 'gopi'), ('emp id', 1234), ((1, 2, 3, 4), 'tuple'), ('course', 'Python')])

In [120]:
#extracting an element from a dictionary
print(dict1['name'])
print(dict1.get('name'))

gopi
gopi

In [121]:
#adding an entry
dict1['address']='hyd'
dict1

{'name': 'gopi',
 'emp id': 1234,
 (1, 2, 3, 4): 'tuple',
 'course': 'Python',
 'address': 'hyd'}

In [122]:
#to append one dict to another
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'gopi', 'emp id': 1234, (1, 2, 3, 4): 'tuple', 'course': 'Python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [123]:
#Removing an entry ==> pop('key'),popitem()
dict1.pop((1,2,3,4)) #removes the specified key and value
print(dict1) #removes the last item

{'name': 'gopi', 'emp id': 1234, 'course': 'Python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [124]:
dict1.popitem()

(3, 3)

In [125]:
dict1.popitem()

(2, 2)