# CSE-221710307029-Gopi Bollineni

In [89]:
import numpy as np
import pandas as pd

In [90]:
df=pd.read_csv('datasets_531_1056_german_credit_data.csv')
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car
5,5,35,male,1,free,NaN,NaN,9055,36,education
6,6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment
7,7,35,male,3,rent,little,moderate,6948,36,car
8,8,61,male,1,own,rich,NaN,3059,12,radio/TV
9,9,28,male,3,own,little,moderate,5234,30,car
10,10,25,female,2,rent,little,moderate,1295,12,car
11,11,24,female,2,rent,little,little,4308,48,business
12,12,22,female,2,own,little,moderate,1567,12,radio/TV
13,13,60,male,1,own,little,little,1199,24,car
14,14,28,female,2,rent,little,little,1403,15,car
15,15,32,female,1,own,moderate,little,1282,24,radio/TV
16,16,53,male,2,own,NaN,NaN,2424,24,radio/TV
17,17,25,male,2,own,NaN,little,8072,30,business
18,18,44,female,3,free,little,moderate,12579,24,car
19,19,31,male,2,own,quite rich,NaN,3430,24,radio/TV
20,20,48,male,2,own,little,NaN,2134,9,car
21,21,44,male,2,rent,quite rich,little,2647,6,radio/TV
22,22,48,male,1,rent,little,little,2241,10,car
23,23,44,male,2,own,moderate,moderate,1804,12,car
24,24,26,male,2,own,NaN,NaN,2069,10,furniture/equipment
25,25,36,male,1,own,little,little,1374,6,furniture/equipment
26,26,39,male,1,own,little,NaN,426,6,radio/TV
27,27,42,female,2,rent,rich,rich,409,12,radio/TV
28,28,34,male,2,own,little,moderate,2415,7,radio/TV
29,29,63,male,2,own,little,little,6836,60,business
...,...,...,...,...,...,...,...,...,...,...
970,970,22,male,2,own,moderate,moderate,1514,15,repairs
971,971,43,male,1,own,little,NaN,7393,24,car
972,972,29,female,0,rent,little,little,1193,24,car
973,973,36,male,2,rent,little,little,7297,60,business
974,974,33,female,2,own,little,NaN,2831,30,radio/TV
975,975,57,female,1,own,quite rich,rich,1258,24,radio/TV
976,976,64,female,2,own,little,moderate,753,6,radio/TV
977,977,42,male,2,own,NaN,moderate,2427,18,business
978,978,47,male,1,own,little,NaN,2538,24,car
979,979,25,male,2,rent,moderate,moderate,1264,15,car
980,980,49,male,2,own,little,moderate,8386,30,furniture/equipment
981,981,33,male,3,rent,little,NaN,4844,48,business
982,982,28,female,3,own,moderate,rich,2923,21,car
983,983,26,male,2,own,little,little,8229,36,car
984,984,30,male,1,own,little,NaN,2028,24,furniture/equipment
985,985,25,female,2,rent,little,little,1433,15,furniture/equipment
986,986,33,male,2,own,little,rich,6289,42,business
987,987,64,female,2,own,moderate,NaN,1409,13,radio/TV
988,988,29,male,3,free,little,little,6579,24,car
989,989,48,male,1,own,little,moderate,1743,24,radio/TV
990,990,37,male,1,own,NaN,NaN,3565,12,education
991,991,34,male,1,own,moderate,NaN,1569,15,radio/TV
992,992,23,male,1,rent,NaN,little,1936,18,radio/TV
993,993,30,male,3,own,little,little,3959,36,furniture/equipment
994,994,50,male,2,own,NaN,NaN,2390,12,car
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,996,40,male,3,own,little,little,3857,30,car
997,997,38,male,2,own,little,NaN,804,12,radio/TV
998,998,23,male,2,free,little,little,1845,45,radio/TV
999,999,27,male,2,own,moderate,moderate,4576,45,car

In [91]:
# If you find Unnamed column in the data remove that by filtering

df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
5,35,male,1,free,NaN,NaN,9055,36,education
6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment
7,35,male,3,rent,little,moderate,6948,36,car
8,61,male,1,own,rich,NaN,3059,12,radio/TV
9,28,male,3,own,little,moderate,5234,30,car
10,25,female,2,rent,little,moderate,1295,12,car
11,24,female,2,rent,little,little,4308,48,business
12,22,female,2,own,little,moderate,1567,12,radio/TV
13,60,male,1,own,little,little,1199,24,car
14,28,female,2,rent,little,little,1403,15,car
15,32,female,1,own,moderate,little,1282,24,radio/TV
16,53,male,2,own,NaN,NaN,2424,24,radio/TV
17,25,male,2,own,NaN,little,8072,30,business
18,44,female,3,free,little,moderate,12579,24,car
19,31,male,2,own,quite rich,NaN,3430,24,radio/TV
20,48,male,2,own,little,NaN,2134,9,car
21,44,male,2,rent,quite rich,little,2647,6,radio/TV
22,48,male,1,rent,little,little,2241,10,car
23,44,male,2,own,moderate,moderate,1804,12,car
24,26,male,2,own,NaN,NaN,2069,10,furniture/equipment
25,36,male,1,own,little,little,1374,6,furniture/equipment
26,39,male,1,own,little,NaN,426,6,radio/TV
27,42,female,2,rent,rich,rich,409,12,radio/TV
28,34,male,2,own,little,moderate,2415,7,radio/TV
29,63,male,2,own,little,little,6836,60,business
...,...,...,...,...,...,...,...,...,...
970,22,male,2,own,moderate,moderate,1514,15,repairs
971,43,male,1,own,little,NaN,7393,24,car
972,29,female,0,rent,little,little,1193,24,car
973,36,male,2,rent,little,little,7297,60,business
974,33,female,2,own,little,NaN,2831,30,radio/TV
975,57,female,1,own,quite rich,rich,1258,24,radio/TV
976,64,female,2,own,little,moderate,753,6,radio/TV
977,42,male,2,own,NaN,moderate,2427,18,business
978,47,male,1,own,little,NaN,2538,24,car
979,25,male,2,rent,moderate,moderate,1264,15,car
980,49,male,2,own,little,moderate,8386,30,furniture/equipment
981,33,male,3,rent,little,NaN,4844,48,business
982,28,female,3,own,moderate,rich,2923,21,car
983,26,male,2,own,little,little,8229,36,car
984,30,male,1,own,little,NaN,2028,24,furniture/equipment
985,25,female,2,rent,little,little,1433,15,furniture/equipment
986,33,male,2,own,little,rich,6289,42,business
987,64,female,2,own,moderate,NaN,1409,13,radio/TV
988,29,male,3,free,little,little,6579,24,car
989,48,male,1,own,little,moderate,1743,24,radio/TV
990,37,male,1,own,NaN,NaN,3565,12,education
991,34,male,1,own,moderate,NaN,1569,15,radio/TV
992,23,male,1,rent,NaN,little,1936,18,radio/TV
993,30,male,3,own,little,little,3959,36,furniture/equipment
994,50,male,2,own,NaN,NaN,2390,12,car
995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [93]:
# Display the top seven rows and last Three rows

x = df[:7]
z = df[-3:]
frame = [x,z]
result = pd.concat(frame)
print(result)

     Age     Sex  Job Housing Saving accounts Checking account  Credit amount  \
0     67    male    2     own             NaN           little           1169
1     22  female    2     own          little         moderate           5951
2     49    male    1     own          little              NaN           2096
3     45    male    2    free          little           little           7882
4     53    male    2    free          little           little           4870
5     35    male    1    free             NaN              NaN           9055
6     53    male    2     own      quite rich              NaN           2835
997   38    male    2     own          little              NaN            804
998   23    male    2    free          little           little           1845
999   27    male    2     own        moderate         moderate           4576

     Duration              Purpose
0           6             radio/TV
1          48             radio/TV
2          12            education
3          42  furniture/equipment
4          24                  car
5          36            education
6          24  furniture/equipment
997        12             radio/TV
998        45             radio/TV
999        45                  car

In [94]:
# Check the total number of entries you have
df.count()

Age                 1000
Sex                 1000
Job                 1000
Housing             1000
Saving accounts      817
Checking account     606
Credit amount       1000
Duration            1000
Purpose             1000
dtype: int64

In [95]:
# Check the No of features,Print features Names(Column Names)

print(len(df.columns))
print(list(df.columns) )

9
['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Credit amount', 'Duration', 'Purpose']

In [79]:
# Print the row indices of the dataframe

list(df.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]

In [96]:
# Check the dtype of each and every columns

df.dtypes

Age                  int64
Sex                 object
Job                  int64
Housing             object
Saving accounts     object
Checking account    object
Credit amount        int64
Duration             int64
Purpose             object
dtype: object

In [97]:
# Description for Numerical Column min,max,count,25%,50%,75%,std

print(df.describe())

               Age          Job  Credit amount     Duration
count  1000.000000  1000.000000    1000.000000  1000.000000
mean     35.546000     1.904000    3271.258000    20.903000
std      11.375469     0.653614    2822.736876    12.058814
min      19.000000     0.000000     250.000000     4.000000
25%      27.000000     2.000000    1365.500000    12.000000
50%      33.000000     2.000000    2319.500000    18.000000
75%      42.000000     2.000000    3972.250000    24.000000
max      75.000000     3.000000   18424.000000    72.000000

In [98]:
# Description for the categorical Columns count,top,freq

df.describe(include = ['O'])

         Sex Housing Saving accounts Checking account Purpose
count   1000    1000             817              606    1000
unique     2       3               4                3       8
top     male     own          little           little     car
freq     690     713             603              274     337

In [83]:
df.isnull()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,True,True,False,False,False
6,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,True,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,True,True,False,False,False
17,False,False,False,False,True,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,True,False,False,False
20,False,False,False,False,False,True,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,True,True,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,True,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
970,False,False,False,False,False,False,False,False,False
971,False,False,False,False,False,True,False,False,False
972,False,False,False,False,False,False,False,False,False
973,False,False,False,False,False,False,False,False,False
974,False,False,False,False,False,True,False,False,False
975,False,False,False,False,False,False,False,False,False
976,False,False,False,False,False,False,False,False,False
977,False,False,False,False,True,False,False,False,False
978,False,False,False,False,False,True,False,False,False
979,False,False,False,False,False,False,False,False,False
980,False,False,False,False,False,False,False,False,False
981,False,False,False,False,False,True,False,False,False
982,False,False,False,False,False,False,False,False,False
983,False,False,False,False,False,False,False,False,False
984,False,False,False,False,False,True,False,False,False
985,False,False,False,False,False,False,False,False,False
986,False,False,False,False,False,False,False,False,False
987,False,False,False,False,False,True,False,False,False
988,False,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False,False
990,False,False,False,False,True,True,False,False,False
991,False,False,False,False,False,True,False,False,False
992,False,False,False,False,True,False,False,False,False
993,False,False,False,False,False,False,False,False,False
994,False,False,False,False,True,True,False,False,False
995,False,False,False,False,False,True,False,False,False
996,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,True,False,False,False
998,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False

In [99]:
#Missing value count column wise

df.isnull().sum().sum()

577

In [100]:
df.isnull().sum()

Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [101]:
# Check the output for the info function

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
Age                 1000 non-null int64
Sex                 1000 non-null object
Job                 1000 non-null int64
Housing             1000 non-null object
Saving accounts     817 non-null object
Checking account    606 non-null object
Credit amount       1000 non-null int64
Duration            1000 non-null int64
Purpose             1000 non-null object
dtypes: int64(4), object(5)
memory usage: 70.4+ KB

In [102]:
#Access particular rows and columns using iloc,loc

print(df.iloc[0:5, 5:8])
print(df.loc[0:5,["Credit amount",'Duration']])

  Checking account  Credit amount  Duration
0           little           1169         6
1         moderate           5951        48
2              NaN           2096        12
3           little           7882        42
4           little           4870        24
   Credit amount  Duration
0           1169         6
1           5951        48
2           2096        12
3           7882        42
4           4870        24
5           9055        36

In [103]:
#How many unique values are there in a particular column

df.nunique()

Age                  53
Sex                   2
Job                   4
Housing               3
Saving accounts       4
Checking account      3
Credit amount       921
Duration             33
Purpose               8
dtype: int64