In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/sumathi16/Datasets/master/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Creating a new column Family in the dataset  by adding SibSp column and Parch column
df['Family'] = df['SibSp'] + df['Parch']
df.head(2)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1

In [4]:
# Ticket--> As it is just a random number, we can skip this column from our analysis
df.drop('Ticket',axis=1,inplace=True)

In [5]:
## Imputing with missing values
df.isnull().mean().sort_values(ascending=False)

Cabin          0.771044
Age            0.198653
Embarked       0.002245
Family         0.000000
Fare           0.000000
Parch          0.000000
SibSp          0.000000
Gender         0.000000
Name           0.000000
Pclass         0.000000
Survived       0.000000
PassengerId    0.000000
dtype: float64

In [6]:
# Removing Cabin column because 77% are missing value
df.drop('Cabin',axis=1,inplace=True)

In [7]:
# Median---> sorting in the order (middle value) NaN in the age column should be substituted with median of age
df.Age.fillna(df.Age.median(), inplace=True)
df.Age.isnull().sum()

0

In [8]:
## Imputing the Embarked Column---> Mode Imputation
df.Embarked.fillna(df.Embarked.mode()[0], inplace=True)
df.Embarked.isnull().sum()

0

In [9]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Gender         0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
Family         0
dtype: int64

In [10]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Gender          object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
Family           int64
dtype: object

In [11]:
## Remove passenger ID
df.drop('PassengerId',axis=1,inplace=True)

In [12]:
df.drop('Name',axis=1,inplace=True)

In [13]:
df.nunique()

Survived      2
Pclass        3
Gender        2
Age          88
SibSp         7
Parch         7
Fare        248
Embarked      3
Family        9
dtype: int64

In [14]:
## Seperating the Input and Output Data, dropping the Survived column from the data
X = df.drop('Survived', axis=1)
X.shape

(891, 8)

In [15]:
X= pd.get_dummies(X)
X.shape

(891, 11)

In [16]:
## Output Column
y = df.iloc[:,0]
y.shape

(891,)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=23) 
                                                        # random_state = to select the constant rows

In [18]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(668, 11)
(223, 11)
(668,)
(223,)

In [19]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression() # creating an object for Logistic Regression
log_reg.fit(X_train, y_train)
y_train_pred = log_reg.predict(X_train)

/home/lancelot2904/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [21]:
## accuracy_score---> With help of this metric, we can evaluate the overall 
## performance of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_train_pred)

0.8098802395209581

## 07-07-2020

In [23]:
#ensemble
from sklearn.ensemble import AdaBoostClassifier
adc=AdaBoostClassifier()
#train the model:
adc.fit(X_train,y_train)
#prediction:
y_train_pred=adc.predict(X_train)
#prediction on test data:
y_test_pred=adc.predict(X_test)

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_train,y_train_pred))
print("\n\n")
print(classification_report(y_test,y_test_pred))

              precision    recall  f1-score   support

           0       0.85      0.89      0.87       404
           1       0.82      0.77      0.79       264

    accuracy                           0.84       668
   macro avg       0.84      0.83      0.83       668
weighted avg       0.84      0.84      0.84       668




              precision    recall  f1-score   support

           0       0.84      0.87      0.85       145
           1       0.74      0.69      0.72        78

    accuracy                           0.81       223
   macro avg       0.79      0.78      0.78       223
weighted avg       0.80      0.81      0.81       223

Ex:
learning rate=0.5
n_estimators= 25

In [25]:
#ensemble
from sklearn.ensemble import AdaBoostClassifier
adc=AdaBoostClassifier(n_estimators=25,learning_rate=0.5)
#train the model:
adc.fit(X_train,y_train)
#prediction:
y_train_pred=adc.predict(X_train)
#prediction on test data:
y_test_pred=adc.predict(X_test)

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_train,y_train_pred))
print("\n\n")
print(classification_report(y_test,y_test_pred))

              precision    recall  f1-score   support

           0       0.85      0.87      0.86       404
           1       0.79      0.76      0.78       264

    accuracy                           0.83       668
   macro avg       0.82      0.82      0.82       668
weighted avg       0.83      0.83      0.83       668




              precision    recall  f1-score   support

           0       0.83      0.86      0.85       145
           1       0.73      0.68      0.70        78

    accuracy                           0.80       223
   macro avg       0.78      0.77      0.77       223
weighted avg       0.80      0.80      0.80       223

## With Base Learner

In [27]:
#importing the package
#ensemble
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
adc=AdaBoostClassifier(base_estimator=LogisticRegression())
#train the model:
adc.fit(X_train,y_train)
#prediction:
y_train_pred=adc.predict(X_train)
#prediction on test data:
y_test_pred=adc.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_train,y_train_pred))
print("\n\n")
print(classification_report(y_test,y_test_pred))

              precision    recall  f1-score   support

           0       0.83      0.86      0.84       404
           1       0.77      0.73      0.75       264

    accuracy                           0.81       668
   macro avg       0.80      0.79      0.80       668
weighted avg       0.81      0.81      0.81       668




              precision    recall  f1-score   support

           0       0.82      0.82      0.82       145
           1       0.66      0.65      0.66        78

    accuracy                           0.76       223
   macro avg       0.74      0.74      0.74       223
weighted avg       0.76      0.76      0.76       223

In [30]:
from sklearn.ensemble import GradientBoostingClassifier
gdc=GradientBoostingClassifier()
gdc.fit(X_train,y_train)
#prediction
y_train_pred=gdc.predict(X_train)
y_test_pred=gdc.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_train_pred))
print(accuracy_score(y_test,y_test_pred))

0.905688622754491
0.8026905829596412