# 11-06-2020
### MACHINE LEARNING

In [1]:
import matplotlib as plot
import seaborn as sea
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)

In [3]:
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

## Q1) How to write the logic u mentioned?
-- The Communication Score should be greater than 6

In [4]:
placement_data['Communication'] >6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [5]:
st=[311,6]
def place_predict(st):
    if st[1] > 6 :
        return 'Yes'
    else:
        return 'No'

In [6]:
place_predict(st)

'No'

In [7]:
place_predict([45,7])

'Yes'

```Machine Learning
Decision Tree Classifier
```

# Algorithm,Model
- Decision Tree Classifier
- Available DTC

##### Descision Tree Classifier
- fit(features,target)/fit(inputs,outputs)
    - Communiaction
    - Placed
    features -2d array
    placed -1d array
- Predict

### Get the communication Column as 2D array:

In [8]:
placement_data['Communication'].shape

(5,)

In [9]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [10]:
placement_data[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [11]:
import sklearn #Machine Learning Algorithm
from sklearn.tree import DecisionTreeClassifier #descision Tree Classifier
dtc = DecisionTreeClassifier()
# Training the model
dtc.fit(placement_data[['Communication']],placement_data['Placed'])
# After running the above line we will get the trained model in dtc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [12]:
dtc.predict(placement_data[["Communication"]])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [13]:
placement_data['Placed'] #the above and this output are same --observe

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [14]:
#prediction fro the unknown student data
dtc.predict([[8]]) #note that only 2D arrays are accepted

array(['Yes'], dtype=object)

In [15]:
dtc.predict([[8],[7.5],[5]])

array(['Yes', 'Yes', 'No'], dtype=object)

### Labeled and Unlabeled Data;
- labeled data is the data set with the placed Column
- Unlabeled is the data without placed Column

Remember the seaborn.regplot?, we get a scatter as well as a line called the simple linear regression line
- that line equation can be 'y=mx+c' (for only one parameter in the prediction model)
- For more than one we just write it as y=mx1+mx2+...+c

### Predicting the students marks:

In [16]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [17]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of Hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [18]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
# training the model with two features
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])
# After this cell in varible lr you have tarined model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### y= m1x1 +m2 x2+c
predict m1,m2 and c

- y - marks
- x1 - internal marks
- x2 - no of hours study

In [20]:
#for m1 and m2 values -->
lr.coef_

array([2.5, 2. ])

In [22]:
#for intercept
lr.intercept_

10.000000000000007

In [23]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [27]:
lr.predict([[30,9],[25,8],[60,5]])

array([103. ,  88.5, 170. ])