In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Datasets/master/balance_data.csv ')
df.head()

   Unnamed: 0  balance  var1  var2  var3  var4
0           0        1     1     1     1     1
1           1        0     1     1     1     2
2           2        0     1     1     1     3
3           3        0     1     1     1     4
4           4        0     1     1     1     5

In [3]:
df.balance.value_counts()

0    576
1     49
Name: balance, dtype: int64

In [ ]:
from imblearn import